In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("../Dataset/train.csv")
test = pd.read_csv("../Dataset/test.csv")

In [3]:
train['breed_category'].value_counts()

0.0    9000
1.0    8357
2.0    1477
Name: breed_category, dtype: int64

In [4]:
train['pet_category'].value_counts()

2    10621
1     7184
4      941
0       88
Name: pet_category, dtype: int64

In [5]:
train.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1

In [6]:
from sklearn.utils import resample
negative = train[train['pet_category']==1]
positive = train[train['pet_category']==0]
pos_upsampled1 = resample(positive,
 replace=True, # sample with replacement
 n_samples=len(negative), # match number in majority class
 random_state=42) # reproducible results

positive = train[train['pet_category']==4]
pos_upsampled2 = resample(positive,
 replace=True, # sample with replacement
 n_samples=len(negative), # match number in majority class
 random_state=42) # reproducible results

In [7]:
len(pos_upsampled1)

7184

In [8]:
rem = train[train['pet_category']!=0]
print(len(rem))
rem = rem[rem['pet_category']!=4]
print(len(rem))

train = pd.concat([rem,pos_upsampled1,pos_upsampled2]).reset_index(drop=True)

18746
17805

In [9]:
print(train['breed_category'].value_counts())
print(train['pet_category'].value_counts())

0.0    12010
2.0    10671
1.0     9492
Name: breed_category, dtype: int64
2    10621
4     7184
1     7184
0     7184
Name: pet_category, dtype: int64

In [10]:
test["breed_category"]=-1
test["pet_category"]=-1
test

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_75005,2005-08-17 00:00:00,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7,-1,-1
1,ANSL_76663,2018-11-15 00:00:00,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1,-1,-1
2,ANSL_58259,2012-10-11 00:00:00,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7,-1,-1
3,ANSL_67171,2015-02-13 00:00:00,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1,-1,-1
4,ANSL_72871,2017-01-18 00:00:00,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...
8067,ANSL_66809,2016-02-10 00:00:00,2017-03-10 14:56:00,2.0,Brown,0.82,36.08,13,9,-1,-1
8068,ANSL_59041,2015-12-07 00:00:00,2018-02-12 00:00:00,0.0,Tan,0.49,27.54,13,9,-1,-1
8069,ANSL_60034,2015-12-08 00:00:00,2017-01-04 17:19:00,0.0,Black,0.98,37.19,0,7,-1,-1
8070,ANSL_58066,2016-06-28 00:00:00,2017-07-20 18:19:00,NaN,Black,0.79,23.83,0,2,-1,-1
8071,ANSL_69436,2016-02-02 00:00:00,2017-02-28 16:47:00,0.0,Black,0.64,24.51,0,1,-1,-1

In [11]:
print(f"condition column has following types :\n {train['condition'].value_counts()}\n")
print(f"color_type column has following types :\n {train['color_type'].value_counts()}\n")
print(f"X1 column has following types :\n {train['X1'].value_counts()}\n")
print(f"X2 column has following types :\n {train['X2'].value_counts()}\n")
print(f"breed_category column has following types :\n {train['breed_category'].value_counts()}\n")
print(f"pet_category column has following types :\n {train['pet_category'].value_counts()}\n")

condition column has following types :
 2.0    7970
1.0    7000
0.0    6532
Name: condition, dtype: int64

color_type column has following types :
 Black                7191
Brown                5468
White                4314
Gray                 2457
Brown Tabby          1687
Tan                  1571
Red                  1488
Blue                 1228
Orange Tabby          791
Tricolor              779
Yellow                524
Brown Brindle         504
Green                 431
Blue Tabby            386
Calico                375
Tortie                371
Chocolate             286
Torbie                242
Sable                 220
Cream Tabby           191
Orange                165
Fawn                  163
Cream                 162
Buff                  136
Lynx Point            117
Blue Merle            104
Gold                  102
Seal Point             78
Black Brindle          66
Gray Tabby             65
Pink                   63
Black Tabby            55
Flame Point            52
Brown Merle            39
Black Smoke            32
Tortie Point           26
Silver                 24
Red Tick               23
Blue Tick              21
Blue Point             20
Lilac Point            19
Silver Tabby           18
Agouti                 18
Yellow Brindle         15
Apricot                13
Red Merle              13
Calico Point           12
Blue Cream             10
Blue Tiger             10
Chocolate Point         9
Blue Smoke              6
Silver Lynx Point       4
Brown Tiger             4
Liver                   3
Liver Tick              1
Black Tiger             1
Name: color_type, dtype: int64

X1 column has following types :
 0     15569
13     6003
15     4090
18     2402
7      2044
16      603
11      528
17      260
12      227
9       219
6        53
1        51
8        50
2        31
19       17
10       13
4         7
5         3
14        2
3         1
Name: X1, dtype: int64

X2 column has following types :
 1    12080
4     7364
9     6867
7     4070
3     1008
2      471
6      239
8       58
5       12
0        4
Name: X2, dtype: int64

breed_category column has following types :
 0.0    12010
2.0    10671
1.0     9492
Name: breed_category, dtype: int64

pet_category column has following types :
 2    10621
4     7184
1     7184
0     7184
Name: pet_category, dtype: int64

In [12]:
df = pd.concat([train,test]).reset_index(drop = True)

In [13]:
df['listing_date'] = pd.to_datetime(df['listing_date'])
df['issue_date'] = pd.to_datetime(df['issue_date'])
df['days_taken'] = df['listing_date'] - df['issue_date']
df['days_taken'] = df['days_taken'].dt.days
df['breed_category'] = df['breed_category'].astype(int)

In [14]:
df['condition'].value_counts()

1.0    9928
2.0    9810
0.0    9217
Name: condition, dtype: int64

In [15]:
from sklearn import preprocessing

features = [x for x in train.columns if x not in [ 'pet_id','issue_date','listing_date','length(m)', 'height(cm)'
       'days_taken','pet_category','breed_category']]

for feat in features:
    lbl_enc = preprocessing.LabelEncoder()
   
    temp_col = df[feat].fillna("None").astype(str).values
    
    df.loc[:,feat] = lbl_enc.fit_transform(temp_col)

df['size'] = df['length(m)']*df['height(cm)']/100

df['perimeter'] = df['length(m)'] + df['height(cm)']/100

df['issue_month'] = df['issue_date'].dt.month

df['listing_month']=df['listing_date'].dt.month

df['issue_year'] = df['issue_date'].dt.year

df['listing_year']=df['listing_date'].dt.year

df['year_diff'] = df['listing_year'] - df['issue_year']

# df['length(m)'] = (df['length(m)']-df['length(m)'].min())/(df['length(m)'].max()-df['length(m)'].min())

# df['height(cm)'] = (df['height(cm)']-df['height(cm)'].min())/(df['height(cm)'].max()-df['height(cm)'].min())

# df['size'] = (df['size']-df['size'].min())/(df['size'].max()-df['size'].min())

df['days_taken'] = (df['days_taken']-df['days_taken'].min())/(df['days_taken'].max()-df['days_taken'].min())
df = pd.get_dummies(df,columns=['condition','X1','X2','color_type','listing_month','issue_month','listing_year','issue_year','year_diff'],prefix=['condition','X1','X2','color_type','listing_month','issue_month','listing_year','issue_year','year_diff'])
# df = pd.get_dummies(df,columns=['condition','X1','X2'],prefix =['condition','X1','X2'] )  
train = df[df.breed_category != -1].reset_index(drop = True)
test = df[df.breed_category == -1].reset_index(drop = True)

In [16]:
df

,pet_id,issue_date,listing_date,length(m),height(cm),breed_category,pet_category,days_taken,size,perimeter,...,year_diff_14,year_diff_15,year_diff_16,year_diff_17,year_diff_18,year_diff_19,year_diff_20,year_diff_22,year_diff_23,year_diff_25
0,ANSL_69903,2016-07-10,2016-09-21 16:25:00,0.80,4268,0,1,0.016143,34.1440,43.48,...,0,0,0,0,0,0,0,0,0,0
1,ANSL_66892,2013-11-21,2018-12-27 17:47:00,0.72,418,0,2,0.209967,3.0096,4.90,...,0,0,0,0,0,0,0,0,0,0
2,ANSL_71623,2016-12-31,2019-01-25 18:30:00,0.62,779,0,2,0.090033,4.8298,8.41,...,0,0,0,0,0,0,0,0,0,0
3,ANSL_57969,2017-09-28,2017-11-19 09:38:00,0.50,106,0,1,0.013868,0.5300,1.56,...,0,0,0,0,0,0,0,0,0,0
4,ANSL_52200,2017-10-25,2019-03-10 13:18:00,0.92,1949,1,2,0.062514,17.9308,20.41,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40240,ANSL_66809,2016-02-10,2017-03-10 14:56:00,0.82,2600,-1,-1,0.050921,21.3200,26.82,...,0,0,0,0,0,0,0,0,0,0
40241,ANSL_59041,2015-12-07,2018-02-12 00:00:00,0.49,1748,-1,-1,0.094691,8.5652,17.97,...,0,0,0,0,0,0,0,0,0,0
40242,ANSL_60034,2015-12-08,2017-01-04 17:19:00,0.98,2711,-1,-1,0.050813,26.5678,28.09,...,0,0,0,0,0,0,0,0,0,0
40243,ANSL_58066,2016-06-28,2017-07-20 18:19:00,0.79,1377,-1,-1,0.050163,10.8783,14.56,...,0,0,0,0,0,0,0,0,0,0
40244,ANSL_69436,2016-02-02,2017-02-28 16:47:00,0.64,1445,-1,-1,0.050704,9.2480,15.09,...,0,0,0,0,0,0,0,0,0,0

In [17]:
from sklearn import model_selection

def folds(data,label):
    data['kfold'] = -1
    data = data.sample(frac = 1).reset_index(drop=True)
    data.loc[:,"bins"] = pd.cut(data[label],bins = int(np.floor(1+np.log2(len(data)))), labels = False)
    kfolds = model_selection.StratifiedKFold(n_splits = 10)
    for f,(t,v) in enumerate(kfolds.split(X=data,y=data.bins.values)):
        data.loc[v,'kfold'] = f
    data = data.drop(["bins"], axis = 1)
    return data

In [18]:
df1 = folds(train, 'breed_category')
df = folds(train, 'pet_category')

In [19]:
df.columns

Index(['pet_id', 'issue_date', 'listing_date', 'length(m)', 'height(cm)',
       'breed_category', 'pet_category', 'days_taken', 'size', 'perimeter',
       ...
       'year_diff_15', 'year_diff_16', 'year_diff_17', 'year_diff_18',
       'year_diff_19', 'year_diff_20', 'year_diff_22', 'year_diff_23',
       'year_diff_25', 'kfold'],
      dtype='object', length=181)

In [20]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,f1_score
from xgboost import XGBClassifier

In [21]:
train_acc=[]
test_acc = []
for i in range(1):
    trainX = df[df["kfold"]!=i].drop(['pet_id','issue_date','listing_date',"pet_category","breed_category","kfold"],axis = 1)
    trainY = df[df["kfold"]!=i][['pet_category']]
    
    testX = df[df["kfold"]==i].drop(['pet_id','issue_date','listing_date',"pet_category","breed_category","kfold"],axis = 1)
    testY = df[df["kfold"]==i][['pet_category']]
    
    depth = 15
#     clfTree = DecisionTreeClassifier(max_depth=depth,random_state=42)
    clfTree = XGBClassifier()
    clfTree.fit(trainX,trainY.values)
    train_acc.append(f1_score(clfTree.predict(trainX),trainY, average='weighted'))
    test_acc.append(f1_score(clfTree.predict(testX),testY, average='weighted'))
    prediction = clfTree.predict(testX)
#     print(f"Train Accuracy for fold No. {i} for depth {depth}: ",f1_score(clfTree.predict(trainX),trainY, average='weighted'))
#     print(f"Test Accuracy for fold No. {i}  for depth {depth}: ",f1_score(clfTree.predict(testX),testY, average='weighted'))
print('train avg',sum(train_acc)/len(train_acc))
print('test avg',sum(test_acc)/len(test_acc))

DecisionTree

D:\Anaconda\envs\mne\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

train avg 0.962969609996564
test avg 0.9501776451842454

In [22]:
predY = clfTree.predict(test.drop(['pet_id','issue_date','listing_date',"pet_category","breed_category"],axis = 1))
test['pet_category'] = predY
test

,pet_id,issue_date,listing_date,length(m),height(cm),breed_category,pet_category,days_taken,size,perimeter,...,year_diff_14,year_diff_15,year_diff_16,year_diff_17,year_diff_18,year_diff_19,year_diff_20,year_diff_22,year_diff_23,year_diff_25
0,ANSL_75005,2005-08-17,2017-09-07 15:35:00,0.87,3264,-1,2,0.485374,28.3968,33.51,...,0,0,0,0,0,0,0,0,0,0
1,ANSL_76663,2018-11-15,2019-05-08 17:24:00,0.06,4161,-1,1,0.027086,2.4966,41.67,...,0,0,0,0,0,0,0,0,0,0
2,ANSL_58259,2012-10-11,2018-04-02 16:51:00,0.24,3112,-1,2,0.224810,7.4688,31.36,...,0,0,0,0,0,0,0,0,0,0
3,ANSL_67171,2015-02-13,2018-04-06 07:25:00,0.29,4336,-1,2,0.132611,12.5744,43.65,...,0,0,0,0,0,0,0,0,0,0
4,ANSL_72871,2017-01-18,2018-04-26 13:42:00,0.71,2085,-1,2,0.058397,14.8035,21.56,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8067,ANSL_66809,2016-02-10,2017-03-10 14:56:00,0.82,2600,-1,2,0.050921,21.3200,26.82,...,0,0,0,0,0,0,0,0,0,0
8068,ANSL_59041,2015-12-07,2018-02-12 00:00:00,0.49,1748,-1,2,0.094691,8.5652,17.97,...,0,0,0,0,0,0,0,0,0,0
8069,ANSL_60034,2015-12-08,2017-01-04 17:19:00,0.98,2711,-1,2,0.050813,26.5678,28.09,...,0,0,0,0,0,0,0,0,0,0
8070,ANSL_58066,2016-06-28,2017-07-20 18:19:00,0.79,1377,-1,4,0.050163,10.8783,14.56,...,0,0,0,0,0,0,0,0,0,0
8071,ANSL_69436,2016-02-02,2017-02-28 16:47:00,0.64,1445,-1,2,0.050704,9.2480,15.09,...,0,0,0,0,0,0,0,0,0,0

In [23]:

for i in range(1):
    trainX = df1[df1["kfold"]!=i].drop(['pet_id','issue_date','listing_date','pet_category',"breed_category",'kfold'],axis = 1)
    trainY = df1[df1["kfold"]!=i][['breed_category']]
    
    testX = df1[df1["kfold"]==i].drop(['pet_id','issue_date','listing_date','pet_category',"breed_category",'kfold'],axis = 1)
    testY = df1[df1["kfold"]==i][['breed_category']]
    
    
    depth = 12
    
    clfTree = XGBClassifier()
    clfTree.fit(trainX,trainY)
    
    train_acc.append(f1_score(clfTree.predict(trainX),trainY, average='weighted'))
    test_acc.append(f1_score(clfTree.predict(testX),testY, average='weighted'))
    
    
    prediction = clfTree.predict(testX)
#     print(f"Train Accuracy for fold No. {i} for depth {depth}: ",f1_score(clfTree.predict(trainX),trainY, average='weighted'))
#     print(f"Test Accuracy for fold No. {i}  for depth {depth}: ",f1_score(clfTree.predict(testX),testY, average='weighted'))
print('train avg',sum(train_acc)/len(train_acc))
print('test avg',sum(test_acc)/len(test_acc))

DecisionTree

D:\Anaconda\envs\mne\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

train avg 0.9748746760423269
test avg 0.9466983286659667

In [24]:
predY = clfTree.predict(test.drop(['pet_id','issue_date','listing_date',"pet_category","breed_category"],axis = 1))
test['breed_category'] = predY
test

,pet_id,issue_date,listing_date,length(m),height(cm),breed_category,pet_category,days_taken,size,perimeter,...,year_diff_14,year_diff_15,year_diff_16,year_diff_17,year_diff_18,year_diff_19,year_diff_20,year_diff_22,year_diff_23,year_diff_25
0,ANSL_75005,2005-08-17,2017-09-07 15:35:00,0.87,3264,1,2,0.485374,28.3968,33.51,...,0,0,0,0,0,0,0,0,0,0
1,ANSL_76663,2018-11-15,2019-05-08 17:24:00,0.06,4161,0,1,0.027086,2.4966,41.67,...,0,0,0,0,0,0,0,0,0,0
2,ANSL_58259,2012-10-11,2018-04-02 16:51:00,0.24,3112,0,2,0.224810,7.4688,31.36,...,0,0,0,0,0,0,0,0,0,0
3,ANSL_67171,2015-02-13,2018-04-06 07:25:00,0.29,4336,0,2,0.132611,12.5744,43.65,...,0,0,0,0,0,0,0,0,0,0
4,ANSL_72871,2017-01-18,2018-04-26 13:42:00,0.71,2085,0,2,0.058397,14.8035,21.56,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8067,ANSL_66809,2016-02-10,2017-03-10 14:56:00,0.82,2600,0,2,0.050921,21.3200,26.82,...,0,0,0,0,0,0,0,0,0,0
8068,ANSL_59041,2015-12-07,2018-02-12 00:00:00,0.49,1748,1,2,0.094691,8.5652,17.97,...,0,0,0,0,0,0,0,0,0,0
8069,ANSL_60034,2015-12-08,2017-01-04 17:19:00,0.98,2711,1,2,0.050813,26.5678,28.09,...,0,0,0,0,0,0,0,0,0,0
8070,ANSL_58066,2016-06-28,2017-07-20 18:19:00,0.79,1377,2,4,0.050163,10.8783,14.56,...,0,0,0,0,0,0,0,0,0,0
8071,ANSL_69436,2016-02-02,2017-02-28 16:47:00,0.64,1445,1,2,0.050704,9.2480,15.09,...,0,0,0,0,0,0,0,0,0,0

In [25]:
Sub_df = test[['pet_id','breed_category','pet_category']]

In [26]:
Sub_df.to_csv('Sub1.csv',index = False)