In [184]:
import pandas as pd
import numpy as np

In [185]:
train = pd.read_csv("../Dataset/train.csv")
test = pd.read_csv("../Dataset/test.csv")

In [186]:
train['breed_category'].value_counts()

0.0    9000
1.0    8357
2.0    1477
Name: breed_category, dtype: int64

In [187]:
train['pet_category'].value_counts()

2    10621
1     7184
4      941
0       88
Name: pet_category, dtype: int64

In [188]:
train

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
18829,ANSL_51738,2017-01-26 00:00:00,2018-03-09 15:35:00,2.0,Tricolor,0.44,27.36,0,1,0.0,2
18830,ANSL_59900,2016-06-18 00:00:00,2017-07-09 08:37:00,NaN,Brown,0.73,14.25,15,4,2.0,4
18831,ANSL_53210,2010-07-21 00:00:00,2018-08-22 14:27:00,0.0,Calico Point,0.99,28.13,13,9,1.0,1
18832,ANSL_63468,2017-05-12 00:00:00,2018-02-08 14:05:00,0.0,Tan,0.55,44.82,13,9,1.0,2
18833,ANSL_73558,2011-12-13 00:00:00,2018-10-26 14:18:00,0.0,Brown,0.86,37.40,0,1,1.0,2

In [189]:
from sklearn.utils import resample
negative = train[train['pet_category']==1]
positive = train[train['pet_category']==0]
pos_upsampled1 = resample(positive,
 replace=True, # sample with replacement
 n_samples=len(negative), # match number in majority class
 random_state=42) # reproducible results

positive = train[train['pet_category']==4]
pos_upsampled2 = resample(positive,
 replace=True, # sample with replacement
 n_samples=len(negative), # match number in majority class
 random_state=42) # reproducible results

In [190]:
len(pos_upsampled1)

10621

In [191]:
rem = train[train['pet_category']!=0]
print(len(rem))
rem = rem[rem['pet_category']!=4]
print(len(rem))

train = pd.concat([rem,pos_upsampled1,pos_upsampled2]).reset_index(drop=True)
train

18746
10621

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2
1,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2
2,ANSL_52200,2017-10-25 00:00:00,2019-03-10 13:18:00,0.0,Red,0.92,29.56,0,7,1.0,2
3,ANSL_74632,2015-10-10 00:00:00,2016-08-04 16:29:00,2.0,Brown,0.05,38.22,13,9,1.0,2
4,ANSL_56464,2014-02-18 00:00:00,2017-03-17 11:38:00,2.0,Brown,0.55,21.26,13,9,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
42479,ANSL_65893,2008-07-31 00:00:00,2016-08-23 11:08:00,1.0,Orange Tabby,0.02,7.21,18,4,0.0,1
42480,ANSL_53613,2015-04-28 00:00:00,2016-12-02 13:35:00,0.0,Torbie,0.04,18.89,0,1,1.0,1
42481,ANSL_54241,2016-07-25 00:00:00,2016-10-11 18:00:00,1.0,Blue Tabby,0.71,34.26,0,1,0.0,1
42482,ANSL_54629,2017-07-08 00:00:00,2017-10-08 16:24:00,0.0,Tortie,0.49,29.91,0,1,1.0,1
42483,ANSL_53542,2008-07-17 00:00:00,2016-08-19 14:38:00,0.0,Tortie,0.87,6.13,13,9,1.0,1

In [192]:
print(train['breed_category'].value_counts())
print(train['pet_category'].value_counts())

2.0    15824
0.0    14990
1.0    11670
Name: breed_category, dtype: int64
4    10621
2    10621
1    10621
0    10621
Name: pet_category, dtype: int64

In [193]:
test["breed_category"]=-1
test["pet_category"]=-1
test

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_75005,2005-08-17 00:00:00,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7,-1,-1
1,ANSL_76663,2018-11-15 00:00:00,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1,-1,-1
2,ANSL_58259,2012-10-11 00:00:00,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7,-1,-1
3,ANSL_67171,2015-02-13 00:00:00,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1,-1,-1
4,ANSL_72871,2017-01-18 00:00:00,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...
8067,ANSL_66809,2016-02-10 00:00:00,2017-03-10 14:56:00,2.0,Brown,0.82,36.08,13,9,-1,-1
8068,ANSL_59041,2015-12-07 00:00:00,2018-02-12 00:00:00,0.0,Tan,0.49,27.54,13,9,-1,-1
8069,ANSL_60034,2015-12-08 00:00:00,2017-01-04 17:19:00,0.0,Black,0.98,37.19,0,7,-1,-1
8070,ANSL_58066,2016-06-28 00:00:00,2017-07-20 18:19:00,NaN,Black,0.79,23.83,0,2,-1,-1
8071,ANSL_69436,2016-02-02 00:00:00,2017-02-28 16:47:00,0.0,Black,0.64,24.51,0,1,-1,-1

In [194]:
print(f"condition column has following types :\n {train['condition'].value_counts()}\n")
print(f"color_type column has following types :\n {train['color_type'].value_counts()}\n")
print(f"X1 column has following types :\n {train['X1'].value_counts()}\n")
print(f"X2 column has following types :\n {train['X2'].value_counts()}\n")
print(f"breed_category column has following types :\n {train['breed_category'].value_counts()}\n")
print(f"pet_category column has following types :\n {train['pet_category'].value_counts()}\n")

condition column has following types :
 2.0    10740
1.0     8139
0.0     7781
Name: condition, dtype: int64

color_type column has following types :
 Black                9293
Brown                7462
White                5413
Gray                 3629
Brown Tabby          2438
Red                  1961
Tan                  1684
Blue                 1600
Orange Tabby         1204
Tricolor              917
Yellow                735
Green                 626
Blue Tabby            590
Calico                563
Tortie                527
Brown Brindle         505
Torbie                341
Chocolate             305
Cream Tabby           293
Sable                 265
Orange                252
Lynx Point            201
Fawn                  170
Cream                 161
Buff                  149
Gold                  131
Seal Point            114
Gray Tabby            112
Blue Merle            104
Pink                   86
Black Tabby            80
Flame Point            72
Black Brindle          66
Black Smoke            55
Brown Merle            43
Tortie Point           42
Silver Tabby           34
Blue Point             28
Agouti                 28
Red Tick               23
Silver                 23
Blue Tick              21
Lilac Point            20
Calico Point           17
Yellow Brindle         15
Blue Cream             15
Red Merle              13
Apricot                13
Chocolate Point        10
Blue Smoke             10
Blue Tiger             10
Silver Lynx Point       5
Brown Tiger             5
Liver                   3
Liver Tick              1
Black Tiger             1
Name: color_type, dtype: int64

X1 column has following types :
 0     19303
13     7972
15     6027
18     3521
7      2721
16      866
11      805
17      361
12      324
9       284
8        83
6        74
1        50
2        46
19       19
10       15
4         7
5         3
14        2
3         1
Name: X1, dtype: int64

X2 column has following types :
 1    15410
4    10820
9     9200
7     4450
3     1495
2      666
6      360
8       62
5       17
0        4
Name: X2, dtype: int64

breed_category column has following types :
 2.0    15824
0.0    14990
1.0    11670
Name: breed_category, dtype: int64

pet_category column has following types :
 4    10621
2    10621
1    10621
0    10621
Name: pet_category, dtype: int64

In [195]:
df = pd.concat([train,test]).reset_index(drop = True)

In [196]:
df['listing_date'] = pd.to_datetime(df['listing_date'])
df['issue_date'] = pd.to_datetime(df['issue_date'])
df['days_taken'] = df['listing_date'] - df['issue_date']
df['days_taken'] = df['days_taken'].dt.days
df['breed_category'] = df['breed_category'].astype(int)

In [197]:
df['condition'].value_counts()

2.0    12580
1.0    11067
0.0    10466
Name: condition, dtype: int64

In [198]:
from sklearn import preprocessing

features = [x for x in train.columns if x not in [ 'pet_id','issue_date','listing_date','length(m)', 'height(cm)'
       'days_taken','pet_category','breed_category']]

for feat in features:
    lbl_enc = preprocessing.LabelEncoder()
   
    temp_col = df[feat].fillna("None").astype(str).values
    
    df.loc[:,feat] = lbl_enc.fit_transform(temp_col)
    
    

print(df['condition'].value_counts())



df['size'] = df['length(m)']*df['height(cm)']/100

df['perimeter'] = df['length(m)'] + df['height(cm)']/100
 

df['issue_month'] = df['issue_date'].dt.month

df['listing_month']=df['listing_date'].dt.month

df['issue_year'] = df['issue_date'].dt.year

df['listing_year']=df['listing_date'].dt.year

df['year_diff'] = np.abs(df['listing_year'] - df['issue_year'])

# df['length(m)'] = (df['length(m)']-df['length(m)'].min())/(df['length(m)'].max()-df['length(m)'].min())

# df['height(cm)'] = (df['height(cm)']-df['height(cm)'].min())/(df['height(cm)'].max()-df['height(cm)'].min())

# df['size'] = (df['size']-df['size'].min())/(df['size'].max()-df['size'].min())

df['days_taken'] = (df['days_taken']-df['days_taken'].min())/(df['days_taken'].max()-df['days_taken'].min())
df = pd.get_dummies(df,columns=['condition','X1','X2','color_type','listing_month','issue_month','listing_year','issue_year','year_diff'],prefix=['condition','X1','X2','color_type','listing_month','issue_month','listing_year','issue_year','year_diff'])
# df = pd.get_dummies(df,columns=['condition','X1','X2'],prefix =['condition','X1','X2'] )  
train = df[df.breed_category != -1].reset_index(drop = True)
test = df[df.breed_category == -1].reset_index(drop = True)

3    16443
2    12580
1    11067
0    10466
Name: condition, dtype: int64

In [199]:
df

,pet_id,issue_date,listing_date,length(m),height(cm),breed_category,pet_category,days_taken,size,perimeter,...,year_diff_14,year_diff_15,year_diff_16,year_diff_17,year_diff_18,year_diff_19,year_diff_20,year_diff_22,year_diff_23,year_diff_25
0,ANSL_66892,2013-11-21,2018-12-27 17:47:00,0.72,418,0,2,0.209967,3.0096,4.90,...,0,0,0,0,0,0,0,0,0,0
1,ANSL_71623,2016-12-31,2019-01-25 18:30:00,0.62,778,0,2,0.090033,4.8236,8.40,...,0,0,0,0,0,0,0,0,0,0
2,ANSL_52200,2017-10-25,2019-03-10 13:18:00,0.92,1948,1,2,0.062514,17.9216,20.40,...,0,0,0,0,0,0,0,0,0,0
3,ANSL_74632,2015-10-10,2016-08-04 16:29:00,0.05,2813,1,2,0.040628,1.4065,28.18,...,0,0,0,0,0,0,0,0,0,0
4,ANSL_56464,2014-02-18,2017-03-17 11:38:00,0.55,1119,1,2,0.129902,6.1545,11.74,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50551,ANSL_66809,2016-02-10,2017-03-10 14:56:00,0.82,2599,-1,-1,0.050921,21.3118,26.81,...,0,0,0,0,0,0,0,0,0,0
50552,ANSL_59041,2015-12-07,2018-02-12 00:00:00,0.49,1747,-1,-1,0.094691,8.5603,17.96,...,0,0,0,0,0,0,0,0,0,0
50553,ANSL_60034,2015-12-08,2017-01-04 17:19:00,0.98,2710,-1,-1,0.050813,26.5580,28.08,...,0,0,0,0,0,0,0,0,0,0
50554,ANSL_58066,2016-06-28,2017-07-20 18:19:00,0.79,1376,-1,-1,0.050163,10.8704,14.55,...,0,0,0,0,0,0,0,0,0,0
50555,ANSL_69436,2016-02-02,2017-02-28 16:47:00,0.64,1444,-1,-1,0.050704,9.2416,15.08,...,0,0,0,0,0,0,0,0,0,0

In [200]:
train.corr()

,length(m),height(cm),breed_category,pet_category,days_taken,size,perimeter,condition_0,condition_1,condition_2,...,year_diff_14,year_diff_15,year_diff_16,year_diff_17,year_diff_18,year_diff_19,year_diff_20,year_diff_22,year_diff_23,year_diff_25
length(m),1.000000,-0.000483,-0.004156,-0.066262,-0.029017,0.643186,0.021502,-0.026510,-0.036196,0.039767,...,-0.013579,-0.005219,0.007809,-0.001451,-0.001833,0.004274,-0.039780,NaN,0.003149,NaN
height(cm),-0.000483,1.000000,-0.004017,0.010986,-0.003024,0.674471,0.999758,0.008949,-0.001588,0.000591,...,0.004735,0.007009,-0.012951,0.002379,0.002772,-0.001328,-0.020126,NaN,0.004034,NaN
breed_category,-0.004156,-0.004017,1.000000,0.277136,-0.180474,-0.019697,-0.004107,-0.010918,-0.582976,-0.449199,...,-0.023314,-0.024883,-0.024296,-0.010696,-0.009365,-0.009580,-0.062424,NaN,0.007901,NaN
pet_category,-0.066262,0.010986,0.277136,1.000000,0.019839,-0.041225,0.009527,-0.030684,-0.025406,-0.258229,...,-0.001509,-0.008365,-0.007501,-0.002935,-0.003631,0.000670,-0.061505,NaN,-0.003479,NaN
days_taken,-0.029017,-0.003024,-0.180474,0.019839,1.000000,-0.018615,-0.003661,0.132781,0.166529,-0.046454,...,0.180323,0.229174,0.188381,0.132269,0.101294,0.082049,0.391132,NaN,0.056158,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
year_diff_19,0.004274,-0.001328,-0.009580,0.000670,0.082049,0.001977,-0.001233,0.004615,0.009314,-0.002355,...,-0.000439,-0.000510,-0.000391,-0.000258,-0.000182,1.000000,-0.000630,NaN,-0.000082,NaN
year_diff_20,-0.039780,-0.020126,-0.062424,-0.061505,0.391132,-0.032990,-0.020996,-0.022793,-0.024669,0.088043,...,-0.001960,-0.002273,-0.001745,-0.001150,-0.000813,-0.000630,1.000000,NaN,-0.000364,NaN
year_diff_22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year_diff_23,0.003149,0.004034,0.007901,-0.003479,0.056158,0.005355,0.004102,-0.003249,-0.003340,-0.003991,...,-0.000254,-0.000294,-0.000226,-0.000149,-0.000105,-0.000082,-0.000364,NaN,1.000000,NaN
year_diff_25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [201]:
from sklearn import model_selection

def create_folds(data,label):
    data['kfold'] = -1
    data = data.sample(frac = 1).reset_index(drop=True)
    num_bins = int(np.floor(1+np.log2(len(data))))
    
    data.loc[:,"bins"] = pd.cut(data[label],bins = num_bins, labels = False)
    
    
    kf = model_selection.StratifiedKFold(n_splits = 10)
    
    for f,(t_,v_) in enumerate(kf.split(X=data,y=data.bins.values)):
        data.loc[v_,'kfold'] = f
    data = data.drop("bins", axis = 1)
    return data

In [202]:
df1 = create_folds(train, 'breed_category')
df = create_folds(train, 'pet_category')

In [203]:
df.columns

Index(['pet_id', 'issue_date', 'listing_date', 'length(m)', 'height(cm)',
       'breed_category', 'pet_category', 'days_taken', 'size', 'perimeter',
       ...
       'year_diff_15', 'year_diff_16', 'year_diff_17', 'year_diff_18',
       'year_diff_19', 'year_diff_20', 'year_diff_22', 'year_diff_23',
       'year_diff_25', 'kfold'],
      dtype='object', length=180)

In [204]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,f1_score
from xgboost import XGBClassifier

In [205]:
print("DecisionTree")
train_acc = []
test_acc = []
for i in range(1):
    trainX = df1[df1["kfold"]!=i].drop(['pet_id','issue_date','listing_date','pet_category',"breed_category",'kfold'],axis = 1)
    trainY = df1[df1["kfold"]!=i][['breed_category']]
    
    testX = df1[df1["kfold"]==i].drop(['pet_id','issue_date','listing_date','pet_category',"breed_category",'kfold'],axis = 1)
    testY = df1[df1["kfold"]==i][['breed_category']]
    
    
    depth = 12
    
    clfTree = XGBClassifier()
    clfTree.fit(trainX,trainY)
    
    train_acc.append(f1_score(clfTree.predict(trainX),trainY, average='weighted'))
    test_acc.append(f1_score(clfTree.predict(testX),testY, average='weighted'))
    
    
    prediction = clfTree.predict(testX)
#     print(f"Train Accuracy for fold No. {i} for depth {depth}: ",f1_score(clfTree.predict(trainX),trainY, average='weighted'))
#     print(f"Test Accuracy for fold No. {i}  for depth {depth}: ",f1_score(clfTree.predict(testX),testY, average='weighted'))
print('train avg',sum(train_acc)/len(train_acc))
print('test avg',sum(test_acc)/len(test_acc))

DecisionTree

D:\Anaconda\envs\mne\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

train avg 0.9885786696967381
test avg 0.959323414631284

In [206]:
predY = clfTree.predict(test.drop(['pet_id','issue_date','listing_date',"pet_category","breed_category"],axis = 1))
test['breed_category'] = predY
test

,pet_id,issue_date,listing_date,length(m),height(cm),breed_category,pet_category,days_taken,size,perimeter,...,year_diff_14,year_diff_15,year_diff_16,year_diff_17,year_diff_18,year_diff_19,year_diff_20,year_diff_22,year_diff_23,year_diff_25
0,ANSL_75005,2005-08-17,2017-09-07 15:35:00,0.87,3263,1,-1,0.485374,28.3881,33.50,...,0,0,0,0,0,0,0,0,0,0
1,ANSL_76663,2018-11-15,2019-05-08 17:24:00,0.06,4157,0,-1,0.027086,2.4942,41.63,...,0,0,0,0,0,0,0,0,0,0
2,ANSL_58259,2012-10-11,2018-04-02 16:51:00,0.24,3111,0,-1,0.224810,7.4664,31.35,...,0,0,0,0,0,0,0,0,0,0
3,ANSL_67171,2015-02-13,2018-04-06 07:25:00,0.29,4332,0,-1,0.132611,12.5628,43.61,...,0,0,0,0,0,0,0,0,0,0
4,ANSL_72871,2017-01-18,2018-04-26 13:42:00,0.71,2084,0,-1,0.058397,14.7964,21.55,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8067,ANSL_66809,2016-02-10,2017-03-10 14:56:00,0.82,2599,1,-1,0.050921,21.3118,26.81,...,0,0,0,0,0,0,0,0,0,0
8068,ANSL_59041,2015-12-07,2018-02-12 00:00:00,0.49,1747,1,-1,0.094691,8.5603,17.96,...,0,0,0,0,0,0,0,0,0,0
8069,ANSL_60034,2015-12-08,2017-01-04 17:19:00,0.98,2710,1,-1,0.050813,26.5580,28.08,...,0,0,0,0,0,0,0,0,0,0
8070,ANSL_58066,2016-06-28,2017-07-20 18:19:00,0.79,1376,2,-1,0.050163,10.8704,14.55,...,0,0,0,0,0,0,0,0,0,0
8071,ANSL_69436,2016-02-02,2017-02-28 16:47:00,0.64,1444,1,-1,0.050704,9.2416,15.08,...,0,0,0,0,0,0,0,0,0,0

In [207]:
train_acc=[]
test_acc = []
print("DecisionTree")
for i in range(1):
    trainX = df[df["kfold"]!=i].drop(['pet_id','issue_date','listing_date',"pet_category","breed_category","kfold"],axis = 1)
    trainY = df[df["kfold"]!=i][['pet_category']]
    
    testX = df[df["kfold"]==i].drop(['pet_id','issue_date','listing_date',"pet_category","breed_category","kfold"],axis = 1)
    testY = df[df["kfold"]==i][['pet_category']]
    
    depth = 15
#     clfTree = DecisionTreeClassifier(max_depth=depth,random_state=42)
    clfTree = XGBClassifier()
    clfTree.fit(trainX,trainY)
    train_acc.append(f1_score(clfTree.predict(trainX),trainY, average='weighted'))
    test_acc.append(f1_score(clfTree.predict(testX),testY, average='weighted'))
    prediction = clfTree.predict(testX)
#     print(f"Train Accuracy for fold No. {i} for depth {depth}: ",f1_score(clfTree.predict(trainX),trainY, average='weighted'))
#     print(f"Test Accuracy for fold No. {i}  for depth {depth}: ",f1_score(clfTree.predict(testX),testY, average='weighted'))
print('train avg',sum(train_acc)/len(train_acc))
print('test avg',sum(test_acc)/len(test_acc))

DecisionTree

D:\Anaconda\envs\mne\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

train avg 0.9667242241593479
test avg 0.9540035617445585

In [208]:
predY = clfTree.predict(test.drop(['pet_id','issue_date','listing_date',"pet_category","breed_category"],axis = 1))
test['pet_category'] = predY
test

,pet_id,issue_date,listing_date,length(m),height(cm),breed_category,pet_category,days_taken,size,perimeter,...,year_diff_14,year_diff_15,year_diff_16,year_diff_17,year_diff_18,year_diff_19,year_diff_20,year_diff_22,year_diff_23,year_diff_25
0,ANSL_75005,2005-08-17,2017-09-07 15:35:00,0.87,3263,1,2,0.485374,28.3881,33.50,...,0,0,0,0,0,0,0,0,0,0
1,ANSL_76663,2018-11-15,2019-05-08 17:24:00,0.06,4157,0,1,0.027086,2.4942,41.63,...,0,0,0,0,0,0,0,0,0,0
2,ANSL_58259,2012-10-11,2018-04-02 16:51:00,0.24,3111,0,2,0.224810,7.4664,31.35,...,0,0,0,0,0,0,0,0,0,0
3,ANSL_67171,2015-02-13,2018-04-06 07:25:00,0.29,4332,0,2,0.132611,12.5628,43.61,...,0,0,0,0,0,0,0,0,0,0
4,ANSL_72871,2017-01-18,2018-04-26 13:42:00,0.71,2084,0,2,0.058397,14.7964,21.55,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8067,ANSL_66809,2016-02-10,2017-03-10 14:56:00,0.82,2599,1,2,0.050921,21.3118,26.81,...,0,0,0,0,0,0,0,0,0,0
8068,ANSL_59041,2015-12-07,2018-02-12 00:00:00,0.49,1747,1,2,0.094691,8.5603,17.96,...,0,0,0,0,0,0,0,0,0,0
8069,ANSL_60034,2015-12-08,2017-01-04 17:19:00,0.98,2710,1,2,0.050813,26.5580,28.08,...,0,0,0,0,0,0,0,0,0,0
8070,ANSL_58066,2016-06-28,2017-07-20 18:19:00,0.79,1376,2,4,0.050163,10.8704,14.55,...,0,0,0,0,0,0,0,0,0,0
8071,ANSL_69436,2016-02-02,2017-02-28 16:47:00,0.64,1444,1,2,0.050704,9.2416,15.08,...,0,0,0,0,0,0,0,0,0,0

In [209]:
Sub_df = test[['pet_id','breed_category','pet_category']]

In [210]:
Sub_df.to_csv('Sub1.csv',index = False)

In [211]:
Sub_df

          pet_id  breed_category  pet_category
0     ANSL_75005               1             2
1     ANSL_76663               0             1
2     ANSL_58259               0             2
3     ANSL_67171               0             2
4     ANSL_72871               0             2
...          ...             ...           ...
8067  ANSL_66809               1             2
8068  ANSL_59041               1             2
8069  ANSL_60034               1             2
8070  ANSL_58066               2             4
8071  ANSL_69436               1             2

[8072 rows x 3 columns]