In [35]:
import pandas as pd
import numpy as np

In [36]:
train = pd.read_csv("../Dataset/train.csv")
test = pd.read_csv("../Dataset/test.csv")

In [37]:
train

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
18829,ANSL_51738,2017-01-26 00:00:00,2018-03-09 15:35:00,2.0,Tricolor,0.44,27.36,0,1,0.0,2
18830,ANSL_59900,2016-06-18 00:00:00,2017-07-09 08:37:00,NaN,Brown,0.73,14.25,15,4,2.0,4
18831,ANSL_53210,2010-07-21 00:00:00,2018-08-22 14:27:00,0.0,Calico Point,0.99,28.13,13,9,1.0,1
18832,ANSL_63468,2017-05-12 00:00:00,2018-02-08 14:05:00,0.0,Tan,0.55,44.82,13,9,1.0,2
18833,ANSL_73558,2011-12-13 00:00:00,2018-10-26 14:18:00,0.0,Brown,0.86,37.40,0,1,1.0,2

In [38]:
test.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2
0,ANSL_75005,2005-08-17 00:00:00,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7
1,ANSL_76663,2018-11-15 00:00:00,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1
2,ANSL_58259,2012-10-11 00:00:00,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7
3,ANSL_67171,2015-02-13 00:00:00,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1
4,ANSL_72871,2017-01-18 00:00:00,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7

In [39]:
test["breed_category"]=-1
test["pet_category"]=-1
test.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_75005,2005-08-17 00:00:00,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7,-1,-1
1,ANSL_76663,2018-11-15 00:00:00,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1,-1,-1
2,ANSL_58259,2012-10-11 00:00:00,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7,-1,-1
3,ANSL_67171,2015-02-13 00:00:00,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1,-1,-1
4,ANSL_72871,2017-01-18 00:00:00,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7,-1,-1

In [40]:
print(f"condition column has following types :\n {train['condition'].value_counts()}\n")
print(f"color_type column has following types :\n {train['color_type'].value_counts()}\n")
print(f"X1 column has following types :\n {train['X1'].value_counts()}\n")
print(f"X2 column has following types :\n {train['X2'].value_counts()}\n")
print(f"breed_category column has following types :\n {train['breed_category'].value_counts()}\n")
print(f"pet_category column has following types :\n {train['pet_category'].value_counts()}\n")

condition column has following types :
 1.0    6819
0.0    6281
2.0    4257
Name: condition, dtype: int64

color_type column has following types :
 Black                4620
White                2453
Brown                1791
Brown Tabby          1687
Tan                  1349
Blue                  852
Orange Tabby          791
Red                   526
Brown Brindle         496
Tricolor              469
Blue Tabby            386
Tortie                366
Calico                343
Gray                  307
Chocolate             259
Torbie                242
Cream Tabby           191
Sable                 167
Cream                 162
Fawn                  159
Yellow                143
Buff                  125
Lynx Point            117
Blue Merle            104
Seal Point             78
Black Brindle          66
Gray Tabby             65
Black Tabby            55
Flame Point            52
Orange                 39
Brown Merle            39
Black Smoke            32
Gold                   31
Tortie Point           26
Silver                 24
Red Tick               23
Blue Tick              21
Blue Point             20
Lilac Point            19
Silver Tabby           18
Yellow Brindle         15
Red Merle              13
Apricot                13
Calico Point           12
Blue Tiger             10
Blue Cream             10
Chocolate Point         9
Green                   8
Pink                    8
Blue Smoke              6
Agouti                  4
Silver Lynx Point       4
Brown Tiger             4
Liver                   3
Liver Tick              1
Black Tiger             1
Name: color_type, dtype: int64

X1 column has following types :
 0     10752
13     4280
7      1460
16      603
15      554
18      548
17      260
9       106
12       64
11       53
1        51
8        46
2        24
6        11
4         7
10        6
19        3
5         3
14        2
3         1
Name: X1, dtype: int64

X2 column has following types :
 1    8493
9    5144
7    3608
4    1263
2     183
3      64
8      58
5      12
6       5
0       4
Name: X2, dtype: int64

breed_category column has following types :
 0.0    9000
1.0    8357
2.0    1477
Name: breed_category, dtype: int64

pet_category column has following types :
 2    10621
1     7184
4      941
0       88
Name: pet_category, dtype: int64

In [41]:
df = pd.concat([train,test]).reset_index(drop = True)

In [42]:
df['listing_date'] = pd.to_datetime(df['listing_date'])
df['issue_date'] = pd.to_datetime(df['issue_date'])
df['days_taken'] = df['listing_date'] - df['issue_date']
df['days_taken'] = df['days_taken'].dt.days
df['breed_category'] = df['breed_category'].astype(int)

In [43]:
from sklearn import preprocessing

features = [x for x in train.columns if x not in [ 'pet_id','issue_date','listing_date','length(m)', 'height(cm)'
       'days_taken','pet_category','breed_category']]

for feat in features:
    lbl_enc = preprocessing.LabelEncoder()
   
    temp_col = df[feat].fillna("None").astype(str).values
    
    df.loc[:,feat] = lbl_enc.fit_transform(temp_col)
    
    
df['X1*X2'] = df['X1']*df['X2']
df['X1+X2'] = df['X1']+df['X2']
df['X1-X2'] = df['X1']-df['X2']

df['size'] = df['length(m)']*df['height(cm)']/100

df['issue_month'] = df['issue_date'].dt.month

df['listing_month']=df['listing_date'].dt.month

df['issue_year'] = df['issue_date'].dt.year

df['listing_year']=df['listing_date'].dt.year

df['length(m)'] = (df['length(m)']-df['length(m)'].min())/(df['length(m)'].max()-df['length(m)'].min())

df['height(cm)'] = (df['height(cm)']-df['height(cm)'].min())/(df['height(cm)'].max()-df['height(cm)'].min())

df['size'] = (df['size']-df['size'].min())/(df['size'].max()-df['size'].min())

df['days_taken'] = (df['days_taken']-df['days_taken'].min())/(df['days_taken'].max()-df['days_taken'].min())
df = pd.get_dummies(df,columns=['condition','X1','X2','color_type','listing_month','issue_month','listing_year','issue_year'],prefix=['condition','X1','X2','color_type','listing_month','issue_month','listing_year','issue_year'])
# df = pd.get_dummies(df,columns=['condition','X1','X2'],prefix =['condition','X1','X2'] )  
train = df[df.breed_category != -1].reset_index(drop = True)
test = df[df.breed_category == -1].reset_index(drop = True)

In [44]:
train.corr()

,length(m),height(cm),breed_category,pet_category,days_taken,X1*X2,X1+X2,X1-X2,size,condition_0,...,issue_year_2010,issue_year_2011,issue_year_2012,issue_year_2013,issue_year_2014,issue_year_2015,issue_year_2016,issue_year_2017,issue_year_2018,issue_year_2019
length(m),1.000000,-0.003543,0.007229,-0.003999,0.001771,-0.006603,-0.004024,0.008753,0.649698,0.007792,...,0.012910,-0.008200,-0.002782,-0.005067,-0.009376,-0.003128,0.007252,-0.002723,-0.000548,0.005162
height(cm),-0.003543,1.000000,0.002676,0.002419,0.006231,-0.009597,-0.000693,0.008308,0.658141,0.009842,...,-0.000920,0.005477,-0.002017,-0.006468,0.003215,-0.006798,0.000785,0.001567,-0.004188,0.001845
breed_category,0.007229,0.002676,1.000000,0.209230,-0.102774,0.166508,0.136589,0.084230,0.002795,0.448581,...,-0.032562,-0.049663,-0.030842,-0.039486,-0.035024,-0.016039,0.057994,0.047506,0.018279,0.008626
pet_category,-0.003999,0.002419,0.209230,1.000000,0.093331,-0.156960,-0.113901,-0.083878,-0.005051,-0.076731,...,0.007731,0.014301,0.028530,0.041526,0.069132,0.093757,-0.035948,-0.032134,-0.100875,-0.021732
days_taken,0.001771,0.006231,-0.102774,0.093331,1.000000,-0.106418,-0.021223,-0.161113,0.002954,0.063368,...,0.246297,0.212812,0.172250,0.124638,0.056583,-0.037524,-0.269381,-0.278561,-0.261690,-0.066163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
issue_year_2015,-0.003128,-0.006798,-0.016039,0.093757,-0.037524,-0.006630,-0.025275,-0.054722,-0.011644,-0.003087,...,-0.052465,-0.058346,-0.062829,-0.074570,-0.098421,1.000000,-0.209524,-0.187182,-0.145603,-0.033424
issue_year_2016,0.007252,0.000785,0.057994,-0.035948,-0.269381,0.066078,0.031776,0.044225,0.005407,-0.027531,...,-0.086436,-0.096125,-0.103511,-0.122854,-0.162148,-0.209524,1.000000,-0.308381,-0.239880,-0.055065
issue_year_2017,-0.002723,0.001567,0.047506,-0.032134,-0.278561,0.030611,0.009260,0.071907,0.000538,-0.005103,...,-0.077219,-0.085875,-0.092473,-0.109754,-0.144858,-0.187182,-0.308381,1.000000,-0.214301,-0.049194
issue_year_2018,-0.000548,-0.004188,0.018279,-0.100875,-0.261690,0.013089,-0.001216,0.107196,0.000397,-0.026527,...,-0.060066,-0.066799,-0.071932,-0.085374,-0.112680,-0.145603,-0.239880,-0.214301,1.000000,-0.038266
issue_year_2019,0.005162,0.001845,0.008626,-0.021732,-0.066163,0.000548,0.003851,0.040442,0.006826,0.012494,...,-0.013788,-0.015334,-0.016512,-0.019598,-0.025866,-0.033424,-0.055065,-0.049194,-0.038266,1.000000

In [45]:
from sklearn import model_selection

def create_folds(data,label):
    data['kfold'] = -1
    data = data.sample(frac = 1).reset_index(drop=True)
    num_bins = int(np.floor(1+np.log2(len(data))))
    
    data.loc[:,"bins"] = pd.cut(data[label],bins = num_bins, labels = False)
    
    
    kf = model_selection.StratifiedKFold(n_splits = 10)
    
    for f,(t_,v_) in enumerate(kf.split(X=data,y=data.bins.values)):
        data.loc[v_,'kfold'] = f
    data = data.drop("bins", axis = 1)
    return data

In [46]:
df1 = create_folds(train, 'breed_category')
df = create_folds(train, 'pet_category')

In [47]:
df.columns

Index(['pet_id', 'issue_date', 'listing_date', 'length(m)', 'height(cm)',
       'breed_category', 'pet_category', 'days_taken', 'X1*X2', 'X1+X2',
       ...
       'issue_year_2011', 'issue_year_2012', 'issue_year_2013',
       'issue_year_2014', 'issue_year_2015', 'issue_year_2016',
       'issue_year_2017', 'issue_year_2018', 'issue_year_2019', 'kfold'],
      dtype='object', length=159)

In [48]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,f1_score
from xgboost import XGBClassifier

In [49]:
i = 0
trainX = df[df["kfold"]!=i].drop(['pet_id','issue_date','listing_date',"pet_category","breed_category","kfold"],axis = 1)
trainY = df[df["kfold"]!=i][['pet_category']]
    
testX = df[df["kfold"]==i].drop(['pet_id','issue_date','listing_date',"pet_category","breed_category","kfold"],axis = 1)
testY = df[df["kfold"]==i][['pet_category']]
    
depth = 15
clfTree =XGBClassifier(random_state=42)
clfTree.fit(trainX,trainY.values)

D:\Anaconda\envs\mne\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=42, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [50]:
print("DecisionTree")
for i in range(2):
    trainX = df[df["kfold"]!=i].drop(['pet_id','issue_date','listing_date',"pet_category","breed_category","kfold"],axis = 1)
    trainY = df[df["kfold"]!=i][['pet_category']]
    
    testX = df[df["kfold"]==i].drop(['pet_id','issue_date','listing_date',"pet_category","breed_category","kfold"],axis = 1)
    testY = df[df["kfold"]==i][['pet_category']]
    
    depth = 15
    clfTree = XGBClassifier()
    clfTree.fit(trainX,trainY.values)
    
    prediction = clfTree.predict(testX)
    print(f"Train Accuracy for fold No. {i} for depth {depth}: ",f1_score(clfTree.predict(trainX),trainY, average='weighted'))
    print(f"Test Accuracy for fold No. {i}  for depth {depth}: ",f1_score(clfTree.predict(testX),testY, average='weighted'))

DecisionTree
Train Accuracy for fold No. 0 for depth 15:  0.9351244895546034
Test Accuracy for fold No. 0  for depth 15:  0.9026498179417031
Train Accuracy for fold No. 1 for depth 15:  0.9386778963682232
Test Accuracy for fold No. 1  for depth 15:  0.9099670164951771

In [51]:
predY = clfTree.predict(test.drop(['pet_id','issue_date','listing_date',"pet_category","breed_category"],axis = 1))
test['pet_category'] = predY
test

,pet_id,issue_date,listing_date,length(m),height(cm),breed_category,pet_category,days_taken,X1*X2,X1+X2,...,issue_year_2010,issue_year_2011,issue_year_2012,issue_year_2013,issue_year_2014,issue_year_2015,issue_year_2016,issue_year_2017,issue_year_2018,issue_year_2019
0,ANSL_75005,2005-08-17,2017-09-07 15:35:00,0.87,0.727273,-1,2,0.485374,0,7,...,0,0,0,0,0,0,0,0,0,0
1,ANSL_76663,2018-11-15,2019-05-08 17:24:00,0.06,0.927139,-1,1,0.027086,0,1,...,0,0,0,0,0,0,0,0,1,0
2,ANSL_58259,2012-10-11,2018-04-02 16:51:00,0.24,0.693405,-1,2,0.224810,0,7,...,0,0,1,0,0,0,0,0,0,0
3,ANSL_67171,2015-02-13,2018-04-06 07:25:00,0.29,0.966132,-1,2,0.132611,17,18,...,0,0,0,0,0,1,0,0,0,0
4,ANSL_72871,2017-01-18,2018-04-26 13:42:00,0.71,0.464572,-1,2,0.058397,0,7,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8067,ANSL_66809,2016-02-10,2017-03-10 14:56:00,0.82,0.579323,-1,2,0.050921,45,14,...,0,0,0,0,0,0,1,0,0,0
8068,ANSL_59041,2015-12-07,2018-02-12 00:00:00,0.49,0.389483,-1,2,0.094691,45,14,...,0,0,0,0,0,1,0,0,0,0
8069,ANSL_60034,2015-12-08,2017-01-04 17:19:00,0.98,0.604055,-1,2,0.050813,0,7,...,0,0,0,0,0,1,0,0,0,0
8070,ANSL_58066,2016-06-28,2017-07-20 18:19:00,0.79,0.306818,-1,4,0.050163,0,2,...,0,0,0,0,0,0,1,0,0,0
8071,ANSL_69436,2016-02-02,2017-02-28 16:47:00,0.64,0.321970,-1,2,0.050704,0,1,...,0,0,0,0,0,0,1,0,0,0

In [53]:
print("DecisionTree")
for i in range(1):
    trainX = df[df["kfold"]!=i].drop(['pet_id','issue_date','listing_date','pet_category',"breed_category",'kfold'],axis = 1)
    trainY = df[df["kfold"]!=i][['breed_category']]
    
    testX = df[df["kfold"]==i].drop(['pet_id','issue_date','listing_date','pet_category',"breed_category",'kfold'],axis = 1)
    testY = df[df["kfold"]==i][['breed_category']]
    
    
    depth = 11
    clfTree = XGBClassifier()
    clfTree.fit(trainX,trainY)
    
    prediction = clfTree.predict(testX)
    print(f"Train Accuracy for fold No. {i} for depth {depth}: ",f1_score(clfTree.predict(trainX),trainY, average='weighted'))
    print(f"Test Accuracy for fold No. {i}  for depth {depth}: ",f1_score(clfTree.predict(testX),testY, average='weighted'))

DecisionTree

D:\Anaconda\envs\mne\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Train Accuracy for fold No. 0 for depth 11:  0.982717575541217
Test Accuracy for fold No. 0  for depth 11:  0.9035108408121247

In [27]:
predY = clfTree.predict(test.drop(['pet_id','issue_date','listing_date',"pet_category","breed_category"],axis = 1))
test['breed_category'] = predY
test

,pet_id,issue_date,listing_date,length(m),height(cm),breed_category,pet_category,days_taken,X1*X2,X1+X2,...,issue_year_2010,issue_year_2011,issue_year_2012,issue_year_2013,issue_year_2014,issue_year_2015,issue_year_2016,issue_year_2017,issue_year_2018,issue_year_2019
0,ANSL_75005,2005-08-17,2017-09-07 15:35:00,0.87,0.727273,1,2,0.485374,0,7,...,0,0,0,0,0,0,0,0,0,0
1,ANSL_76663,2018-11-15,2019-05-08 17:24:00,0.06,0.927139,0,1,0.027086,0,1,...,0,0,0,0,0,0,0,0,1,0
2,ANSL_58259,2012-10-11,2018-04-02 16:51:00,0.24,0.693405,0,2,0.224810,0,7,...,0,0,1,0,0,0,0,0,0,0
3,ANSL_67171,2015-02-13,2018-04-06 07:25:00,0.29,0.966132,0,2,0.132611,17,18,...,0,0,0,0,0,1,0,0,0,0
4,ANSL_72871,2017-01-18,2018-04-26 13:42:00,0.71,0.464572,0,2,0.058397,0,7,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8067,ANSL_66809,2016-02-10,2017-03-10 14:56:00,0.82,0.579323,1,2,0.050921,45,14,...,0,0,0,0,0,0,1,0,0,0
8068,ANSL_59041,2015-12-07,2018-02-12 00:00:00,0.49,0.389483,1,2,0.094691,45,14,...,0,0,0,0,0,1,0,0,0,0
8069,ANSL_60034,2015-12-08,2017-01-04 17:19:00,0.98,0.604055,1,2,0.050813,0,7,...,0,0,0,0,0,1,0,0,0,0
8070,ANSL_58066,2016-06-28,2017-07-20 18:19:00,0.79,0.306818,2,4,0.050163,0,2,...,0,0,0,0,0,0,1,0,0,0
8071,ANSL_69436,2016-02-02,2017-02-28 16:47:00,0.64,0.321970,1,2,0.050704,0,1,...,0,0,0,0,0,0,1,0,0,0

In [28]:
Sub_df = test[['pet_id','breed_category','pet_category']]

In [29]:
Sub_df.to_csv('Sub1.csv',index = False)

In [30]:
Sub_df

          pet_id  breed_category  pet_category
0     ANSL_75005               1             2
1     ANSL_76663               0             1
2     ANSL_58259               0             2
3     ANSL_67171               0             2
4     ANSL_72871               0             2
...          ...             ...           ...
8067  ANSL_66809               1             2
8068  ANSL_59041               1             2
8069  ANSL_60034               1             2
8070  ANSL_58066               2             4
8071  ANSL_69436               1             2

[8072 rows x 3 columns]